<aside id="featured" class="body">
  <article>
    <hgroup>
      <h2>Select a file!</h2>
      <input type="file" name="fileinput" id="fileinput" />
      <br />
      <br />
      <button type="button" id="startUpload">Upload it</button>
      <button type="button" id="cancelUpload">Cancel upload</button>
      <br />
      <br />
      <div id="retries"></div>
      <br />
      <br />
      <div id="error"></div>
      <br />
      <br />
      <div id="progress-container">
        <div id="progress-bar"></div>
      </div>
    </hgroup>
  </article>
</aside>

