<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
      <title>Basic S3 Uploader</title>
      <link rel="stylesheet" href="/stylesheets/main.css" type="text/css" />
  </head>

  <body id="index" class="home">

    <header id="banner" class="body">
      <h1><a href="#">Basic S3 Uploader</a></h1>
    </header>

    <%= yield %>

    <script type="text/javascript" src="/javascripts/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/main.js"></script>
    <script type="text/javascript" src="/javascripts/basic_s3_uploader.js"></script>
  </body>
</html>
